.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 20px 15px;
    border-radius: 20px 20px 0 0;
  }

  .card-header {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .close-button {
    position: absolute;
    right: 15px;
    top: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  .full-width {
    width: 100%; 
    max-width: 100%;
    box-sizing: border-box;
}

.no-resize {
    resize: none; 
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 20px;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.footer-button {
  background-color: #2575fc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}