<app-smartphone-card >
    <div class="center-container">
        <!-- Button 1 -->
        <button class="cta">
            <span>Your Projects</span>
            <svg width="15px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </button>

        <!-- Button 2 -->
        <button class="cta">
            <span>All Projects</span>
            <svg width="15px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </button>

        <!-- Button 3 -->
        <button class="cta">
            <span>All Employees</span>
            <svg width="15px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </button>
    </div>

    <app-create-property></app-create-property>
</app-smartphone-card>
