.dialog-card-container {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw; /* Breite reduziert */
    height: 90vh; /* Höhe reduziert */
    background-color: #f4f4f4; 
}

.dialog-card {
    width: 330px; /* Breite verringert */
    height: 550px; /* Höhe verringert */
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 
    background-color: white; 
    overflow: hidden; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    padding: 0; 
}
