
<div class="button-container">
    <!-- Button 1: Project -->
    <button class="btn" (click)="createProject()">
        <span>Create new Project</span>
        <div class="container">
            <!-- Project Icon -->
            <svg height="35" width="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="icon">
                <path d="M4 4H20V20H4V4Z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M4 9H20" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9 4V20" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </button>

        <!-- Button 1: Log Out-->
        <button class="btn" (click)="logOut()">
            <span>LogOut</span>
            <div class="container">
                <svg height="35" width="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" class="icon">
                    <path d="M4 4H20V20H4V4Z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M4 9H20" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M9 4V20" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </button>

</div>
