.group-container {
  margin-top: 20px;
}

.group {
    position: relative;
    margin-bottom: 30px; /* Abstand zwischen den Komponenten erhöhen */
  }
  
  .input {
    font-size: 16px;
    padding: 10px 10px 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background: none;
    outline: none;
    color: #333;
  }
  
  .input:focus {
    border-bottom: 2px solid #007BFF;
  }
  
  label {
    color: #757575;
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
  }
  
  .input:focus ~ label,
  .input:not(:placeholder-shown) ~ label {
    top: -20px;
    font-size: 12px;
    color: #007BFF;
  }
  
  .highlight {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #007BFF;
    transition: all 0.2s ease-in-out;
    transform: scaleX(0);
  }
  
  .input:focus ~ .highlight {
    transform: scaleX(1);
  }
  
  .bar {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background: #757575;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 20px 15px;
    border-radius: 20px 20px 0 0;
  }

  .card-header {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .close-button {
    position: absolute;
    right: 15px;
    top: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .footer-button {
    background-color: #2575fc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .chart-button {
    display: flex;
    justify-content: center;  /* Zentriert den Inhalt horizontal */
    align-items: center;      /* Zentriert den Inhalt vertikal */
    background-color: #2575fc;
    color: white;
    border: none;
    padding: 10px 50px;  /* Erhöhte Breite */
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;

}
.chart-container {
  display: flex;
  justify-content: center;  /* Zentriert den Button horizontal */
  margin-top: -20px;
}

  