<app-smartphone-card>
    <p-table 
    [value]="currentUserProjects" 
    stripedRows 
    [style]="{ width: '100%', minHeight: '470px', maxHeight: '470px' }"
    [scrollable]="true"
    scrollHeight="470px"
    class="table-with-margin">
        <ng-template pTemplate="header">
            <tr>
                <th>Your Current Projects</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
            <tr>
                <td>
                    <button class="cta">
                        <span>{{project.name}}</span>
                        <svg width="15px" height="10px" viewBox="0 0 13 10">
                          <path d="M1,5 L11,5"></path>
                          <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                      </button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <hr>
    
    <div class="button-wrapper">
        <button class="btn">
            <span>Assign to new Project</span>
            <div class="container">
                <!-- SVG für ein Plus-Symbol -->
                <svg height="35" width="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
            </div>
        </button>
    </div>

    <div class="navigation-buttons" style="display: flex; justify-content: center; gap: 20px; margin-top: 20px;">
        <p-button icon="pi pi-home" [rounded]="true" severity="info" (click)="goHome()"></p-button>
        <p-button icon="pi pi-arrow-left" [rounded]="true" severity="info" (click)="goBack()"></p-button>
    </div>
</app-smartphone-card>