.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 20px 15px;
    border-radius: 20px 20px 0 0;
  }

  .card-header {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .close-button {
    position: absolute;
    right: 15px;
    top: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }